<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="text-white text-center d-none d-lg-block mt-5" id="headingGroup">
                <h1>ANIME<span>/</span>TRACKER</h1>
                <h1>ANIME<span>/</span>TRACKER</h1>
                <h1>ANIME<span>/</span>TRACKER</h1>
                <h1>ANIME<span>/</span>TRACKER</h1>
                <h1>ANIME<span>/</span>TRACKER</h1>
                <h1>ANIME<span>/</span>TRACKER</h1>
                <h1>ANIME<span>/</span>TRACKER</h1>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid" src="../../assets/1055988-onepiece1000logsanniversaryartwork-1280.jpg" alt="">
        </div>
    </div>
</section>

<hr>

<div class="container-fluid bg-dark " id="list">
</div>